<footer class="mt-5 d-print-none">
    <hr/>
    <div class="container-fluid p-md-5">
        <div class="row">
            <div class="col-md-6">
                <p>Footer text</p>
            </div>
            <div class="col-md-6">
                <ul class="p-0" style="list-style: none;">
                    <li>Univ.-Prof. Dr. Georg Vogeler</li>
                    <li>DDH Institut für Digitale Geisteswissenschaften</li>
                    <li>Karl-Franzens-Universität Graz</li>
                </ul>

                <ul class="p-0" style="list-style: none;">
                    <li>Sebastian David Schiller-Stoff (Institut für Digitale Geisteswissenschaften | DDH ) <br/><a href="https://orcid.org/0000-0001-6941-113X" target="_blank">ORCID</a> | <a target="_blank" href="https://g.co/kgs/5Jpd72E">ID</a> | <a target="_blank" href="https://schiller-stoff.github.io/">Website</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>