<header class="bg-light">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between py-1 gap-3">
            <a href="{{fn.root()}}" class="flex-shrink-0 bg-warning p-5 d-block text-dark">#</a>
            <div class="flex-grow-1 d-none d-md-block">
                <div class="mt-xl-4 ps-3 ps-md-4">
                    <h1 class="h1">
                        GAMS-Frog
                    </h1>
                    <small>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu nunc vitae metus aliquet sollicitudin vitae et urna. Nam accumsan metus ut pharetra consequat.
                    </small>
                </div>
            </div>
        </div>
    </div>
    <br class="d-none d-lg-block"/>
</header>