

<aside class="d-none d-lg-block position-fixed top-50 end-0 pt-2 pb-1 bg-white">
    <ul style="list-style: none;" class="m-0 p-0 me-1">
        <li>
            <a class="text-decoration-none text-dark" target="_blank" href="https://juedischestudien.uni-graz.at" data-bs-toggle="tooltip" data-bs-title="Tooltip">
                <span class="mt-2 ms-1">CJS</span>
            </a>
        </li>
        <li>
            <a class="text-decoration-none text-dark" target="_blank" href="https://juedischestudien.uni-graz.at" data-bs-toggle="tooltip" data-bs-title="Tooltip">
                <span class="mt-2 ms-1">XYZ</span>
            </a>
        </li>
        <li>
            <a class="text-decoration-none text-dark" target="_blank" href="https://juedischestudien.uni-graz.at" data-bs-toggle="tooltip" data-bs-title="Tooltip">
                <span class="mt-2 ms-1">ABC</span>
            </a>
        </li>
    </ul>
</aside>